<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
  </head>
  <body>
    <div class="flex flex-row flex-wrap justify-evenly">
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        applicants
        <p>[0]</p>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">operations officer</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">tbi board</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">manager</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
    </div>
  </body>
</html>
