<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <div class="flex flex-row flex-wrap justify-evenly">
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        applicants
        <p>[0]</p>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">operations officer</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">tbi board</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
      <div class="h-[200px] border-2 shadow-lg w-[200px] text-center">
        <p class="font-bold">manager</p>
        <div>
          application pendings
          <p>[0]</p>
        </div>
      </div>
    </div>
    <!-- //////////////////////////////////////////////
    second part
    -->
    <div class="w-full border-2 flex justify-center h-90">
      <canvas
        id="myChart"
        style="width: 50%; height: 50%"
        class="border-2 w-40"
      ></canvas>
    </div>

    <script>
      var xValues = ["test1", "test2", "test3"];
      var yValues = [55, 49, 44];
      var barColors = ["#b91d47", "#00aba9", "#2b5797"];

      new Chart("myChart", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          title: {
            display: true,
            text: "test",
            position: "bottom",
          },
          borderWidth: 1,
          backgroundColor: "red",
          legend: {
            display: true,
            position: "bottom", // Position legend below the chart
          },
        },
      });
    </script>
  </body>
</html>
