<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <!-- for live server[no springboot running] -->
    <link
      rel="stylesheet"
      href="/Capstone1/Capstone-1/src/main/resources/static/css/output.css"
    />
  </head>
  <body>
    <div class="bg-green-500 h-screen">
      <div
        class="bg-blue-500 w-screen md:bg-center md:bg-cover md:bg-local absolute md:h-560 md:min-w-full"
      >
        <div class="flex justify-center md:flex md:justify-start">
          <img
            class="pointer-events-none h-20 p-3 md:m-5 md:ml-20"
            src="/Capstone1/Capstone-1/src/main/resources/static/images/yellowLogo.png"
            th:src="@{/images/yellowLogo.png}"
          />
        </div>
        <div class="text-center p-32 font-primary text-5xl">
          <span class="text-white">LOGIN</span>
          <span class="text-[#FDCC01]">AS</span>
        </div>
        <!-- <div
        class="bg-slate-600 text-lg justify-center flex flex-col flex-wrap md:flex-row text-center gap-10 font-secondary font-semibold text-50 text-black"
      > -->
        <div
          class="text-lg z-10 relative justify-center flex flex-wrap flex-row text-center md:gap-10 font-secondary font-semibold text-50 text-black"
        >
          <a th:href="@{/login/applicant}" class="role-btn" name="applicant">
            <div
              class="flex justify-center card md:rounded-radius-40 h-32 flex-col w-screen md:h-300 md:w-72 image-full items-center bg-[#EAEAEA] md:hover:bg-tanglow hover:shadow-xl duration-100 ease-in cursor-pointer border-b-10 border-transparent transform hover:border-black hover:border-b-10"
            >
              <p>Applicant</p>
            </div>
          </a>
          <a th:href="@{/login/officer}" class="role-btn" name="officer">
            <div
              class="flex justify-center card md:rounded-radius-40 h-32 flex-col w-screen md:h-300 md:w-72 image-full items-center bg-[#EAEAEA] md:hover:bg-tanglow hover:shadow-xl duration-100 ease-in cursor-pointer border-b-10 border-transparent transform hover:border-black hover:border-b-10"
            >
              <p>Officer</p>
            </div>
          </a>

          <a th:href="@{/login/tbi-board}" class="role-btn" name="tbiboard">
            <div
              class="flex justify-center card md:rounded-radius-40 h-32 flex-col w-screen md:h-300 md:w-72 image-full items-center bg-[#EAEAEA] md:hover:bg-tanglow hover:shadow-xl duration-100 ease-in cursor-pointer border-b-10 border-transparent transform hover:border-black hover:border-b-10"
            >
              <p>TBI Board</p>
            </div>
          </a>
          <a th:href="@{/login/manager}" class="role-btn" name="manager">
            <div
              class="flex justify-center card md:rounded-radius-40 h-32 flex-col w-screen md:h-300 md:w-72 image-full items-center bg-[#EAEAEA] md:hover:bg-tanglow hover:shadow-xl duration-100 ease-in cursor-pointer border-b-10 border-transparent transform hover:border-black hover:border-b-10"
            >
              <p>Manager</p>
            </div>
          </a>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="absolute bottom-0"
      >
        <path fill="#0099ff" fill-opacity="1"></path>
      </svg>
    </div>
  </body>
</html>
