<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/officer/officer.css}" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <style>
      .dt-input {
        margin-right: 10px;
      }
      .modal-dialog {
        max-width: 80%;
      }
      .modal-content {
        width: 100%;
        height: 92vh;
      }
      .rejected-modal-dialog {
        max-width: 30%;
        max-height: 50px;
      }
      .rejected-modal-content {
        height: 40%;
      }
      .accepted-modal-dialog {
        max-width: 30%;
      }
      .accepted-modal-content {
        height: 40%;
      }
    </style>
  </head>
  <body th:object="${officerWebDto}">
    <img
      th:src="@{/images/blocks.png}"
      class="w-3/5 h-4/5 bottom-0 absolute right-0 md:fixed pointer-events-none z-0"
    />
    <div class="h-screen px-12 pt-4 bg-[#F9F9F9]">
      <div
        class="h-20 flex flex-row justify-between bg-gradient-to-r from-[#E7BA05] to-customyellow rounded-tr-3xl rounded-tl-3xl"
      >
        <div
          class="flex text-center items-center p-4 text-3xl font-secondary font-semibold"
        >
          OPERATIONS OFFICER DASHBOARD
        </div>
        <div class="p-2 mr-4">
          <div class="font-primary text-3xl">
            Welcome, <span th:text="${session.fullname}"></span>!
          </div>
          <div class="flex justify-end">
            ID: <span th:text="${session.id}"></span>
          </div>
        </div>
      </div>
      <div class="p-4 flex justify-center font-secondary">
        <div class="w-2/3">
          <div class="flex gap-4">
            <!-- Pending Applications Card -->
            <div class="w-1/3 rounded overflow-hidden shadow-lg bg-white p-6">
              <div
                class="font-bold text-2xl mb-2 text-center"
                th:text="*{officerDashboardObj.pendingApplicationCount}"
              ></div>
              <p class="text-gray-700 text-sm text-center">
                Pending Applications
              </p>
            </div>

            <!-- Recently Reviewed Card -->
            <div class="w-1/3 rounded overflow-hidden shadow-lg bg-white p-6">
              <div
                class="font-bold text-2xl mb-2 text-center"
                th:text="*{officerDashboardObj.acceptedApplicationCount}"
              ></div>
              <p class="text-gray-700 text-sm text-center">
                Accepted Applications
              </p>
            </div>

            <!-- Resubmission Card -->
            <div class="w-1/3 rounded overflow-hidden shadow-lg bg-white p-6">
              <div
                class="font-bold text-2xl mb-2 text-center"
                th:text="*{officerDashboardObj.rejectedApplicationEligibleCount}"
              ></div>
              <p class="text-gray-700 text-sm text-center">
                Rejected Applicant
              </p>
              <p class="text-gray-700 text-sm text-center">
                (Eligible for Resubmission)
              </p>
            </div>

            <div class="w-1/3 rounded overflow-hidden shadow-lg bg-white p-6">
              <div
                class="font-bold text-2xl mb-2 text-center"
                th:text="*{officerDashboardObj.rejectedApplicationNotEligibleCount}"
              ></div>
              <p class="text-gray-700 text-sm text-center">
                Rejected Applicant
              </p>
              <p class="text-gray-700 text-sm text-center">
                (Not Eligible for Resubmission)
              </p>
            </div>

            <div class="w-1/3 rounded overflow-hidden shadow-lg bg-white p-6">
              <div
                class="font-bold text-2xl mb-2 text-center"
                th:text="*{officerDashboardObj.resubmittedApplicationCount}"
              ></div>
              <p class="text-gray-700 text-sm text-center">
                Resubmitted Applications
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- form -->

      <div
        class="relative z-10 rounded-lg mt-8 bg-white border-2 sm:overflow-x-auto overflow-hidden sm:w-auto p-10 ml-2 sm:ml-0"
      >
        <table id="applicants-table" class="w-screen h-4/5">
          <!-- class="border-collapse table-auto border-4 border-violet-600 h-full border-spacing-0 w-fit" -->

          <thead class="font-secondary text-sm bg-customyellow">
            <tr>
              <th class="text-center rounded-top-left">Email</th>
              <th class="text-center w-3/12">Project Title</th>
              <th class="text-center w-1/5 hidden sm:table-cell">University</th>
              <th class="text-center hidden sm:table-cell">Status</th>
              <!-- <th class="text-center sm:table-cell">Status</th> -->
              <th class="text-center rounded-top-right">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-grey-500 bodyrowhover">
            <tr
              th:each="app : *{listOfApplicants}"
              class="row-btn"
              th:data-id="${app.applicantIdPk}"
            >
              <td
                th:text="${app.email}"
                class="whitespace-nowrap max-w-0 truncate"
              ></td>
              <td
                th:text="${app.projectTitle}"
                class="whitespace-nowrap max-w-0 truncate"
              ></td>

              <td
                th:text="${app.university	}"
                class="whitespace-nowrap max-w-0 truncate"
              ></td>
              <td class="whitespace-nowrap max-w-0 truncate">
                PENDING<sup>resubmitted</sup>
              </td>
              <!-- pending, resubmitted -->
              <!-- <td class="whitespace-nowrap max-w-0 truncate">Pending</td> -->
              <td>
                <form th:action="@{/officer/prescreen}" method="GET">
                  <button
                    class="btn-row border-black hover:bg-green-500 bg-green-600 rounded-lg px-2 hover:text-black text-gray-50 font-secondary sm:text-sm text-xs sm:p-1"
                    type="submit"
                    th:data-id="${app.encryptedApplicantIdPk}"
                    name="id"
                    th:value="${app.encryptedApplicantIdPk}"
                  >
                    Review Application
                  </button>
                </form>
              </td>
            </tr>
            <!--  -->
          </tbody>
        </table>
      </div>
      <!-- </div> -->

      <div
        class="bottom-0 right-0 mr-12 mb-1 flex justify-end text-base font-primary absolute bg-customyellow text-black rounded-sm"
      >
        <form th:action="@{/logout}" method="POST">
          <button class="hover:text-white px-2">Logout</button>
        </form>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script th:inline="javascript">
      console.log(/*[[${officerWebDto}]]*/ "");
      $(document).ready(function () {
        new DataTable("#applicants-table", {
          order: [],
          columnDefs: [
            {
              targets: -1,
              orderable: false, // Disables sorting for the last column
            },
          ],
        });
      });
    </script>
  </body>
</html>
