<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .dt-search {
        font-family: Poppins;
        width: 60%;
        margin-left: auto;
      }
      .dt-end {
        font-size: smaller;
        position: relative;
      }
      .dt-input {
        margin-right: 10px;
      }
      .modal-dialog {
        max-width: 80%;
      }
      .modal-content {
        width: 100%;
        height: 92vh;
      }
      .feedback-modal-dialog {
        max-width: 30%;
        text-align: center;
        max-height: 50px;
      }
      .feedback-modal-content {
        height: 30%;
      }
      /* dashboard */
      .square_orb {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        color: black;
      }

      .square_orb .orb_value {
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }

      .square_orb .orb_label {
        text-transform: uppercase;
        text-align: center;
      }

      /* Dashboard */
      .charts_orb {
        display: flex;
        height: 25%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        color: black;
      }

      .orb {
        padding: 20px;
        height: 190px;
      }

      .orb_graphic {
        position: relative;
      }

      .orb_value {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        font-weight: bold;
      }

      .orb_label {
        text-transform: uppercase;
        text-align: center;
        margin-top: 1em;
      }

      svg {
        width: 110px;
        height: 110px;
      }

      svg circle {
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke-width: 1.5;
        fill: transparent;
        r: 50;
        cx: 55;
        cy: 55;
      }

      .fill {
        /* stroke: #d3d3d3; */
        stroke: red;
      }
    </style>
  </head>
  <body th:object="${adminWebDto}">
    <div
      class="h-full flex flex-col w-[250px] absolute bg-black z-20 justify-between text-customyellow"
    >
      <div class="pt-4">
        <img
          class="filter-logo pointer-events-none h-16 w-52 flex justify-center mx-auto border-2 border-blue-500 mb-4"
          th:src="@{/images/yellowLogo.png}"
        />
        <div
          class="gap-4 flex flex-col font-secondary font-normal p-2 text-center"
        >
          <a
            th:href="@{/admin/home}"
            class="hover:cursor-pointer hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
          >
            Home
          </a>
          <a
            th:href="@{/admin/applicants}"
            class="hover:cursor-pointer hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
          >
            Applicants
          </a>
          <a
            th:href="@{/admin/users}"
            class="hover:cursor-pointer hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
          >
            Users
          </a>
          <!-- th:href="@{/manager/evaluated-result}" -->
          <!-- <p
            class="hover:cursor-pointer hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
          >
            Roles
          </p> -->
        </div>
      </div>
      <div class="text-center p-2 text-xl font-primary hover:text-white w-full">
        <form th:action="@{/logout}" method="POST">
          <button
            class="hover:text-black hover:bg-customyellow w-full p-2 rounded-sm"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
    <!-- applicant table -->
    <div class="h-screen bg-[#F9F9F9] overflow-y-auto">
      <div
        class="flex place-items-end flex-col ml-60 pr-10 pt-3 sticky top-0 z-10 bg-opacity-5 backdrop-blur-[3px]"
      >
        <div class="font-primary text-4xl w-full flex justify-end">
          <!-- Welcome, <span th:text="${session.fullname}"></span>! -->
          Welcome, Admin!
        </div>
        <!-- <div>ID: <span th:text="${session.id}"></span></div> -->
      </div>
      <div class="mb-8 ml-[270px] mr-10 flex flex-row flex-wrap font-secondary">
        <div class="flex w-screen text-center justify-center mb-4 mt-2">
          <!-- officer -->
          <div
            class="flex justify-center flex-col border rounded-lg shadow-md w-[40%] mr-10"
          >
            <!-- <p class="top-[45%] relative text-gray-400">no data</p> -->
            <canvas id="officer" style="height: 80px" class="w-40"></canvas>
            <p>OPERATIONS OFFICER</p>
          </div>
          <!-- tbiboard -->
          <div
            class="flex justify-center flex-col h-90 border rounded-lg shadow-md w-[40%]"
          >
            <!-- <p class="top-[45%] relative text-gray-400">no data</p> -->
            <canvas id="tbiBoard" style="height: 80px" class="w-40"></canvas>
            <p>TBI BOARD</p>
          </div>
        </div>
        <div class="charts_orb w-screen border rounded-lg shadow-md mb-4">
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <!-- <circle class="progress"></circle> -->
              </svg>
              <div
                class="orb_value count"
                th:text="*{adminDashboardObj.inOfficerCount}"
              ></div>
            </div>
            <div class="orb_label text-sm">in officer</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <!-- <circle class="progress"></circle> -->
              </svg>
              <div
                class="orb_value count"
                th:text="*{adminDashboardObj.inTbiBoardCount}"
              ></div>
            </div>
            <div class="orb_label text-sm">in tbi board</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <!-- <circle class="progress"></circle> -->
              </svg>
              <div
                class="orb_value count"
                th:text="*{adminDashboardObj.inManagerCount}"
              ></div>
            </div>
            <div class="orb_label text-sm">in manager</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <!-- <circle class="progress"></circle> -->
              </svg>
              <div
                class="orb_value count"
                th:text="*{adminDashboardObj.reapplicationRejectedCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">rejected<br />application</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <!-- <circle class="progress"></circle> -->
              </svg>
              <div
                class="orb_value count"
                th:text="*{adminDashboardObj.reapplicationFailedCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">failed<br />reapplication</div>
          </div>
        </div>

        <!-- squares -->

        <div class="square_orb w-full border rounded-lg shadow-md mb-4">
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.applicantCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">applicants</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.officerCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">officers</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.tbiboardCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">tbi boards</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.managerCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">managers</div>
          </div>
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.activatedAccountCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">Total <br />Accounts</div>
          </div>
          <!-- Add more square charts as needed -->
          <div class="orb">
            <div class="orb_graphic">
              <svg>
                <div class="fill"></div>
                <!-- <div class="progress"></div> -->
              </svg>
              <div
                class="orb_value count border-2 rounded-lg stroke-2 border-red-600"
                th:text="*{adminDashboardObj.issuedCertificateCount}"
              >
                123
              </div>
            </div>
            <div class="orb_label text-sm">Issued <br />Certificates</div>
          </div>
        </div>
      </div>
    </div>
    <!-- officer -->
    <script th:inline="javascript">
      const webDto = /*[[${adminWebDto}]]*/ "";
      const obj = webDto.adminDashboardObj;
      console.log(webDto);

      var xtbiBoardValues = ["passed", "failed"];
      var ytbiBoardValues = [
        obj.applicationPassedCount,
        obj.applicationFailedCount,
      ];
      var barColors = ["#2493DF", "#FF4C4C"];

      new Chart("tbiBoard", {
        type: "doughnut",
        data: {
          labels: xtbiBoardValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: ytbiBoardValues,
            },
          ],
        },
        options: {
          title: {
            display: true,
            // text: "tbi board",
            // position: "bottom",
          },
          legend: {
            display: true,
            position: "bottom", // Position legend below the chart
          },
        },
      });

      var xofficerValues2 = ["accepted", "rejected"];
      var yofficerValues2 = [
        obj.applicationAcceptedCount,
        obj.applicationRejectedCount,
      ];
      var barColors2 = ["#00C838", "#FF4C4C"];

      new Chart("officer", {
        type: "doughnut",
        data: {
          labels: xofficerValues2,
          datasets: [
            {
              backgroundColor: barColors2,
              data: yofficerValues2,
            },
          ],
        },
        options: {
          title: {
            display: true,
            // text: "officer",
            // position: "bottom",
          },
          legend: {
            display: true,
            position: "bottom", // Position legend below the chart
          },
        },
      });

      $(document).ready(function () {
        $(".count").each(function () {
          $(this)
            .prop("Counter", 0)
            .animate(
              {
                Counter: $(this).text(),
              },
              {
                duration: 1500,
                easing: "linear",
                step: function (now) {
                  $(this).text(Math.ceil(now));
                },
              }
            );
        });
      });
    </script>
    <!-- tbiboard -->
    <script></script>
    <script></script>
  </body>
</html>
