<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/officer/officer.css}" />
    <style>
		.dt-end:nth-child(2){
			display: flex !important;
			justify-content: space-between !important;
		}
		
		.dt-end:nth-child(3){
			float: left !important;
		}
		
		.dt-end button:first-child{
			font-size: 10px !important;
		}
		
		
	</style>
  </head>
  <body th:object="${managerWebDto}">
    <div class="sidebar">
		<a th:href="@{/manager/home}">Home</a>
		<a th:href="@{/manager/accepted-result}">Accepted Applications</a>
		<a th:href="@{/manager/evaluated-result}">Evaluated Appications</a>
	</div>
    <div>
      <form th:action="@{/manager/proceed}" method="POST" class="table table-striped">
        <table id="applicants-table">
          <thead>
            <tr>
              <th>Project Title</th>
              <th>University</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="app : *{listOfApplicants}" class="row-btn"> 
              <td th:text="${app.projectTitle}"></td>
              <td th:text="${app.university}"></td>
              <!--td
                th:text="${app.status == 0 ? 'Pending' : app.status != 2 OR app.status != 0 ? 'Passed' : 'Failed'}"
                th:style="${app.status != 1 OR app.status != 0 ? 'color:#008000; font-weight: bold;' : 'color:#FF0000; font-weight: bold;'}"
              ></td>-->
              <td th:text="${app.email}"></td>
              <td>
                <button
                  class="btn-row"
                  type="button"
                  th:data-id="${app.applicantIdPk}"
                  name="activate"
                  th:if="${app.status == 1}"
                >
                  Activate Account
                </button>
                <input
                  type="checkbox"
                  name="chosenApplicant"
                  th:value="${app.applicantIdPk}"
                  th:if="${app.status == 3}"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <!--<button>Proceed to TBI</button>-->
      </form>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="details-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Applicant Details</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
            <p>Hello</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="activate-account-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form th:action="@{/manager/account/activate}" method="POST">
            <input
              type="hidden"
              name="applicantIdPk"
              id="activate-applicant-id-pk"
              value="0"
            />
            <div>Activate this account?</div>
            <button type="submit" name="activate">Activate Account</button>
          </form>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="proceed-to-tbi-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Applicant Details</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
            <p>Hello</p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script th:inline="javascript">
      console.log(/*[[${managerWebDto}]]*/ "");

      $(document).ready(function () {
        $('#applicants-table').dataTable( {
		        "columnDefs": [{
		          "targets": 'no-sort',
		          "orderable": false	        
		    	}],
			    "searching": true,   
				"ordering": false,   				
				"info": true,    				
				"lengthChange": false,
				initComplete: function(){
			      $(".dt-end:first")
			         .prepend('<button type="submit" >Send to TbiBoard</button>');           
			   }
				
		} );

        let rows = document.getElementsByClassName("row-btn");
        let btnRows = document.getElementsByClassName("btn-row");

        var rowBtnClicked = false;

        for (let row of rows) {
          row.addEventListener("click", function () {
            let id = this.getAttribute("data-id");

            if (!rowBtnClicked) {
              $("#details-modal").modal("show");

              getApplicantDetails();
            }
          });
        }

        for (let btn of btnRows) {
          btn.addEventListener("click", function () {
            rowBtnClicked = true;
            let idPk = this.getAttribute("data-id");
            if (this.name === "activate") {
              let hiddenApplicantIdPk = document
                .getElementById("activate-applicant-id-pk")
                .setAttribute("value", this.getAttribute("data-id"));

              $("#activate-account-modal").modal("show");
            }
            setTimeout(() => {
              rowBtnClicked = false;
            }, 100);
          });
        }

        async function getApplicantDetails() {
          try {
            const response = await fetch("/officer/retrieve-all");

            document.getElementById("modal-body").innerHTML =
              '<div class="loader"></div>';

            if (!response.ok) {
              document.getElementById("modal-body").innerHTML =
                '<div><div>Reload</div><a href="/officer/home">Reload</a></div>';
            }

            const data = await response.json();
            console.log(data);
          } catch (error) {
            console.error("Error:", error);
          }
        }
      });
    </script>
  </body>
</html>
