<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/officer/officer.css}" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/input.css" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <style>
      .dt-search {
        font-family: Poppins;
        width: 60%;
        margin-left: auto;
      }
      .dt-end {
        font-size: smaller;
        position: relative;
      }
      .dt-input {
        margin-right: 10px;
      }
      .modal-dialog {
        max-width: 80%;
      }
      .modal-content {
        width: 100%;
        height: 92vh;
      }
      .feedback-modal-dialog {
        max-width: 30%;
        max-height: 50px;
      }
      .feedback-modal-content {
        height: 30%;
      }
    </style>
  </head>
  <body th:object="${managerWebDto}">
    <div>
      <div
        class="h-full flex flex-col w-[250px] absolute bg-black z-20 justify-between text-customyellow"
      >
        <div class="pt-4">
          <img
            class="filter-logo pointer-events-none h-16 w-52 flex justify-center mx-auto border-blue-500 mb-4"
            th:src="@{/images/yellowLogo.png}"
          />
          <div
            class="gap-4 flex flex-col font-secondary font-normal p-2 text-center"
          >
            <a
              th:href="@{/manager/home}"
              class="hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
              >Home</a
            >
            <a
              th:href="@{/manager/accepted-result}"
              class="hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
              >Accepted Applications</a
            >
            <a
              th:href="@{/manager/evaluated-result}"
              class="hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
              >Evaluated Applications</a
            >
            <a
              th:href="@{/manager/analytics}"
              class="hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
              >Analytics</a
            >
            <a
              th:href="@{/manager/rank-startups}"
              class="hover:rounded-sm hover:bg-tanglow hover:text-black hover:no-underline p-2"
              >Rank Startups</a
            >
          </div>
        </div>
        <div
          class="text-center p-2 text-xl font-primary hover:text-white w-full"
        >
          <form th:action="@{/logout}" method="POST">
            <button
              class="hover:text-black hover:bg-customyellow w-full p-2 rounded-sm"
            >
              Logout
            </button>
          </form>
        </div>
      </div>
      <!-- applicant details -->
      <div class="h-screen bg-[#F9F9F9] overflow-y-auto">
        <div
          class="flex place-items-end flex-col ml-60 pr-10 pt-3 sticky top-0 z-10 bg-opacity-5 backdrop-blur-[3px]"
        >
          <div class="font-primary text-4xl">
            Welcome, <span th:text="${session.fullname}"></span>!
          </div>
          <div>ID: <span th:text="${session.id}"></span></div>
        </div>
        <div
          class="mb-8 ml-[270px] mr-6 rounded-lg mt-8 bg-white border-2 sm:overflow-x-auto overflow-hidden p-10"
        >
          <form th:action="@{/manager/proceed}" method="POST">
            <table id="applicants-table" class="w-screen h-4/5">
              <thead class="font-secondary text-sm bg-customyellow">
                <tr>
                  <th class="text-center rounded-top-left">Email</th>
                  <!-- <th class="text-left hidden sm:table-cell">Consent</th> -->
                  <th class="text-center indent-4">Project Title</th>

                  <th class="text-center hidden sm:table-cell indent-4">
                    University
                  </th>
                  <th class="text-center hidden sm:table-cell">Status</th>
                  <th
                    class="text-center hidden sm:table-cell rounded-top-right"
                  ></th>
                  <!-- <th
                    class="text-center hidden sm:table-cell rounded-top-right "
                  ></th>-->
                </tr>
              </thead>
              <tbody class="divide-y divide-grey-500 bodyrowhover">
                <tr
                  th:each="app : *{listOfApplicants}"
                  class="row-btn"
                  th:data-id="${app.encryptedApplicantIdPk}"
                >
                  <td
                    th:text="${app.email}"
                    class="whitespace-nowrap max-w-0 truncate"
                  ></td>
                  <td
                    th:text="${app.projectTitle}"
                    class="whitespace-nowrap max-w-0 truncate"
                  ></td>
                  <td
                    th:text="${app.university}"
                    class="whitespace-nowrap max-w-0 truncate"
                  ></td>
                  <td
                    th:text="${app.status == 6 ? 'Resubmit' : app.totalRating >= 60 AND app.status == 5 OR app.status == 50 ? 'Passed' :  'Failed'}"
                    th:style="${app.totalRating >= 60 ? 'color:#008000; font-weight: bold;' : 'color:#FF0000; font-weight: bold;'}"
                  ></td>
                  <td>
                    <div th:if="${app.status == 50}">Issued</div>
                    <button
                      class="border-black hover:bg-[#FEE902] bg-black rounded-lg w-full hover:text-black text-gray-50 font-secondary text-sm sm:p-1 btn-row"
                      type="button"
                      th:data-id="${app.encryptedApplicantIdPk}"
                      name="issue"
                      th:if="${app.totalRating >= 60 AND app.status == 5}"
                      data-toggle="modal"
                      data-target="#issue-modal"
                    >
                      Issue Certificate
                    </button>
                    <!-- <form th:action="@{/manager/}" method="GET"> -->

                    <button
                      class="btn-row border-black hover:bg-[#FEE902] bg-black rounded-lg w-full hover:text-black text-gray-50 font-secondary text-sm sm:p-1"
                      type="button"
                      th:data-id="${app.encryptedApplicantIdPk}"
                      name="feedback"
                      th:if="${app.totalRating < 60 AND app.status == 5}"
                    >
                      View Feedback
                    </button>
                    <!-- </form> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>

      <div class="modal" tabindex="-1" role="dialog" id="issue-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-bold text-green-700">Confirmation</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Do you want to send certificate?</p>
            </div>
            <div class="modal-footer">
              <form th:action="@{/manager/issue/certificate}" method="POST">
                <input
                  type="hidden"
                  name="encryptedApplicantIdPk"
                  id="issue-certificate-id"
                  value=""
                />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="submit" name="accept" class="btn btn-success">
                  Confirm
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" tabindex="-1" role="dialog" id="feedback-modal">
        <div class="modal-dialog feedback-modal-dialog" role="document">
          <div class="modal-content feedback-modal-content">
            <div class="p-2">
              <div
                class="rounded-sm w-full text-center font-bold p-2 bg-customyellow"
              >
                Feedback
              </div>
              <div class="flex justify-center flex-col">
                <p class="font-semibold">Total Rating:</p>

                <div id="totalRating" class="mb-2"></div>
                <p class="font-semibold">Feedback:</p>
                <div id="feedback"></div>
              </div>
              <hr class="my-4" />
              <div>
                <p class="mb-4 qualified">
                  Qualified for reapplication?
                  <span class="is-qualified" style="font-weight: bold"></span>
                </p>
                <div class="w-full justify-between flex qualified-btns">
                  <button
                    name="no"
                    class="qualified-btn p-2 border-black hover:bg-red-500 bg-red-600 rounded-lg w-w45 hover:text-black text-gray-50 font-secondary sm:text-sm text-xs sm:p-1"
                  >
                    No
                  </button>
                  <button
                    name="yes"
                    class="qualified-btn p-2 border-black hover:bg-green-500 bg-green-600 rounded-lg w-w45 hover:text-black text-gray-50 font-secondary sm:text-sm text-xs sm:p-1"
                  >
                    Yes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script th:inline="javascript">
      const webDto = /*[[${managerWebDto}]]*/ "";

      console.log(webDto);

      $(document).ready(function () {
        $("#applicants-table").dataTable({
          columnDefs: [
            {
              // targets: "no-sort",
              targets: [-1, -2],
              orderable: false,
            },
          ],
          searching: true,
          // ordering: false,
          info: true,
          lengthChange: false,
        });

        let rows = document.getElementsByClassName("row-btn");
        let btnRows = document.getElementsByClassName("btn-row");

        var rowBtnClicked = false;

        for (let btn of btnRows) {
          btn.addEventListener("click", function () {
            rowBtnClicked = true;
            let encryptedId = this.getAttribute("data-id");
            if (this.name === "feedback") {
              let totalRating = document.getElementById("totalRating");
              let feedback = document.getElementById("feedback");

              if (webDto.listOfApplicants.length != 0) {
                webDto.listOfApplicants.forEach((applicant, index) => {
                  if (applicant.encryptedApplicantIdPk == encryptedId) {
                    totalRating.innerHTML = applicant.totalRating;
                    feedback.innerHTML = applicant.feedback;

                    if (applicant.status == 6) {
                      document.querySelector(".is-qualified").innerHTML =
                        " Yes";
                      document.querySelector(".is-qualified").style.color =
                        "green";
                      document.querySelector(".qualified-btns").style.display =
                        "none";
                    } else if (applicant.status == 7) {
                      document.querySelector(".is-qualified").innerHTML = " No";
                      document.querySelector(".is-qualified").style.color =
                        "red";
                      document.querySelector(".qualified-btns").style.display =
                        "none";
                    } else {
                      document.querySelector(".is-qualified").innerHTML = "";
                      document.querySelector(".qualified-btns").style.display =
                        "flex";
                    }
                  }
                });
              }

              $("#feedback-modal").modal("show");

              let qualifiedBtns = document.querySelectorAll(".qualified-btn");
              for (let btn of qualifiedBtns) {
                btn.addEventListener("click", function () {
                  let form = document.createElement("form");
                  form.method = "POST";
                  form.action = "/manager/qualified?" + this.name;

                  let inputId = document.createElement("input");
                  inputId.type = "hidden";
                  inputId.name = "encryptedApplicantIdPk";
                  inputId.value = encryptedId;

                  form.appendChild(inputId);

                  var csrfToken = document
                    .querySelector('meta[name="_csrf"]')
                    .getAttribute("content");
                  var csrfHeader = document
                    .querySelector('meta[name="_csrf_header"]')
                    .getAttribute("content");

                  var csrfInput = document.createElement("input");
                  csrfInput.type = "hidden";
                  csrfInput.name = "_csrf";
                  csrfInput.value = csrfToken;

                  form.appendChild(csrfInput);
                  document.body.appendChild(form);
                  form.submit();
                });
              }
            }
            console.log(this);
            if (this.name === "issue") {
              let form = document.querySelector("#issue-modal");
              console.log(form);
              form
                .querySelector("#issue-certificate-id")
                .setAttribute("value", encryptedId);
            }

            setTimeout(() => {
              rowBtnClicked = false;
            }, 500);
          });
        }
      });
    </script>
  </body>
</html>
