<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
    <style>
      .container {
        width: 60%; /* Adjust the container width as needed */
        margin-left: 0; /* Align the container to the left */
      }
      table {
        width: 100%; /* Make the table take up the full width of the container */
      }
    </style>
  </head>
  <body class="bg-gray-100 p-6 font-secondary">
    <a href="/" class="floating-back-button">Back</a>

    <div
      class="border-red-500 max-w-6xl mx-auto bg-white p-6 rounded-lg shadow-lg"
    >
      <div>History</div>
      <div class="container border-2 border-red-500">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="border border-gray-300 px-4 py-2 w-36">Date</th>
              <th class="border border-gray-300 px-4 py-2">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-300 px-4 py-2">2024-09-05</td>
              <td class="border border-gray-300 px-4 py-2">
                <a class="hover:underline hover:text-blue-500 cursor-pointer"
                  >edit title[redirect to versions of application submitted]</a
                >
              </td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">2024-09-04</td>
              <td class="border border-gray-300 px-4 py-2">
                <a class="hover:underline hover:text-blue-500 cursor-pointer"
                  >edit title[redirect to versions of application submitted]</a
                >
              </td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">2024-09-03</td>
              <td class="border border-gray-300 px-4 py-2">
                <a class="hover:underline hover:text-blue-500 cursor-pointer"
                  >edit title[redirect to versions of application submitted]</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
