<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluate Application</title>

    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/input.css" />
    <style>
      * {
        box-sizing: border-box;
      }

      .checklist {
        background-color: #f1f1f1;
        min-width: 300px;
        padding: 40px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
        padding-top: 80px;
      }

      input {
        border: none;
        height: 32px;
        border-color: transparent;
        background: transparent;
        width: 100%;
      }
      input:focus {
        outline: none;
      }
      input.invalid {
        background-color: #ffdddd;
      }

      input[type="radio"] {
        height: 40px;
        width: auto;
        transform: scale(1.5);
        background: none;
        margin-right: 8px;
        margin-left: 4px;
      }

      .error-container {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
      }

      .error-container div {
        background: red;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
      }

      .error {
        padding-left: 20px;
        font-size: 15px;
        font-weight: 600;
        color: #dc143c;
      }
    </style>
  </head>
  <body class="font-secondary" th:object="${tbiBoardWebDto}">
    <div class="error-container" th:if="${error != null}" id="flash-message">
      <div th:text="${error}"></div>
    </div>
    <div class="h-20 sticky top-0 z-10 bg-opacity-5 backdrop-blur-[3px]">
      <div
        class="flex items-center justify-end h-full p-10 font-primary text-4xl text-center"
      >
        Evaluate Application
      </div>
      <a th:href="@{/tbi-board/home}" class="ad-back-button">Back to home</a>
    </div>
    <div class="error-container" id="globalError" style="display: none">
      <div>Please fill out all required fields!</div>
    </div>
    <div class="w-[55%]">
      <div class="flex flex-row">
        <div
          th:replace="~{fragments/applicationDetails :: applicationDetails}"
        ></div>
      </div>

      <form th:action="@{/tbi-board/evaluate}" method="POST">
        <input
          type="hidden"
          name="encryptedApplicantIdPk"
          th:value="*{applicantDetailsObj.encryptedApplicantIdPk}"
        />

        <div class="checklist w-[45%] text-sm">
          <h1 class="font-semibold text-lg">Evaluation Form</h1>
          <div>
            <div
              class="pt-3 flex flex-col w-full relative border-gray-200 bg-transparent focus-within:border-blue-600"
            >
              <div class="text-black">
                Please use the Likert scale to express your level of agreement
                with each statement, where 1 is the lowest (strongly disagree)
                and 10 is the highest (strongly agree). This comprehensive
                evaluation will assess the technical, social, commercial,
                scalability, and management aspects of the proposed projects.
                <br /><br />
                Rating:<br />
                <div class="p-4">
                  <ol style="list-style-type: decimal" class="border-red-500">
                    <li>
                      <strong>Strongly Disagree:</strong> Completely disagree
                      with the statement; the proposal does not meet the
                      criterion at all.
                    </li>
                    <li>
                      <strong>Disagree Significantly:</strong> Major issues
                      exist, showing significant disagreement with the
                      statement.
                    </li>
                    <li>
                      <strong>Disagree Considerably:</strong> Clear
                      disagreement, though not as severe as the lower levels.
                    </li>
                    <li>
                      <strong>Somewhat Disagree:</strong> Some aspects are
                      disagreeable, but not entirely.
                    </li>
                    <li>
                      <strong>Slightly Disagree:</strong> Mild disagreement,
                      with some elements still aligning with the statement.
                    </li>
                    <li>
                      <strong>Slightly Agree:</strong> Mild agreement, but with
                      noticeable areas of improvement needed.
                    </li>
                    <li>
                      <strong>Somewhat Agree:</strong> Generally agree, but with
                      some reservations or minor issues.
                    </li>
                    <li>
                      <strong>Agree Considerably:</strong> Strong agreement,
                      though not perfect, with most criteria met.
                    </li>
                    <li>
                      <strong>Agree Significantly:</strong> Almost complete
                      agreement, with very minor issues if any.
                    </li>
                    <li>
                      <strong>Strongly Agree:</strong> Full agreement,
                      indicating that the proposal excellently meets the
                      criterion.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <div>
            <div class="w-full overflow-x-auto max-h-[550px]">
              <!-- <div class="overflow-auto w-[700px] h-[550px]"> -->
              <div class="min-w-[1000px]">
                <div>
                  <table class="w-full h-full">
                    <thead>
                      <tr>
                        <th
                          class="w-1/5 font-semibold border border-gray-500 px-4 py-2 text-sm"
                        >
                          Criteria
                        </th>
                        <th
                          class="w-1/4 font-semibold border border-gray-500 px-4 py-2 text-sm"
                        >
                          Guide Question
                        </th>
                        <th
                          class="font-semibold border border-gray-500 px-4 py-2 text-sm"
                        >
                          Rating (1-10)
                        </th>
                        <th
                          class="w-2/5 font-semibold border border-gray-500 px-4 py-2 text-sm"
                        >
                          Comment
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th
                          colspan="4"
                          class="text-left font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Technical Viability (10%)
                        </th>
                      </tr>

                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Maturity for Implementation
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <!-- oninput="this.className = ''" -->
                          <p class="resize-none w-full sm:text-sm">
                            To what extent do you agree that the technology is
                            mature and ready for acceleration?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctOneRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctOneComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th
                          colspan="4"
                          class="text-left font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Social and Environmental Impact (10%)
                        </th>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Environmental and Health Safety
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            How strongly do you agree that the technology poses
                            no immediate or long-term hazards to the
                            environment, health, or safety?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctTwoRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctTwoComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th
                          colspan="4"
                          class="text-left font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Commercial Viability (20%)
                        </th>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Market Competitiveness
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            To what extent do you agree that the technology is
                            competitive over existing market products or
                            processes?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctThreeRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctThreeComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Market Potential
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            How strongly do you agree that the technology has a
                            strong market potential?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctFourRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctFourComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th
                          colspan="4"
                          class="text-left font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Scalability (30%)
                        </th>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Potential for Scale-up
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            To what extent do you agree that the technology can
                            be scaled up efficiently and effectively to meet
                            growing demand?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctFiveRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctFiveComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th
                          colspan="4"
                          class="text-left font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Management Capability (15%)
                        </th>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Leadership Competence
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            How strongly do you agree that the project leader
                            demonstrates necessary technical and managerial
                            competence?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctSixRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctSixComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Workforce and Facilities
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            To what extent do you agree that there is a
                            competent and reliable workforce and facilities
                            available for the project?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctSevenRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctSevenComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr class="h-[150px]">
                        <th
                          class="font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Realistic Project Timeline (15%)
                        </th>
                        <td class="border border-gray-500 px-2 py-2">
                          <p class="resize-none w-full sm:text-sm">
                            How strongly do you agree that the project timeline
                            is manageable and realistic?
                          </p>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm">
                            <select
                              required
                              oninput="this.className = ''"
                              id="rating"
                              name="ctEightRating"
                              class="text-black border-none p-0 focus:outline-none focus:ring-0 sm:text-sm"
                            >
                              <option value="none" disabled selected>
                                select a rating
                              </option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </td>
                        <td class="border border-gray-500 px-2 py-2">
                          <textarea
                            oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                            name="ctEightComments"
                            placeholder="Enter comment"
                            class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
                          ></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th
                          colspan="2"
                          class="h-[100px] font-normal border border-gray-500 px-4 py-2 text-sm"
                        >
                          Total
                        </th>

                        <td class="border border-gray-500 px-2 py-2">
                          <div class="text-sm flex justify-center">
                            compute score here
                          </div>
                        </td>
                        <td
                          class="border border-gray-500 px-2 py-2 total-score"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <!-- additional feedback -->
          <div class="flex flex-col">
            <!-- th:data-id="${app.applicantIdPk}" -->
            <div class="w-full h-[100px]">
              <textarea
                oninput="this.className = 'resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm'"
                name="tbiFeedback"
                placeholder="Additional feedback"
                class="resize-none w-full h-full border border-slate-300 rounded-md py-2 pl-3 shadow-sm focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:ring-1 sm:text-sm"
              ></textarea>
            </div>
            <button
              class="flex justify-center items-center self-end text-center mt-2 h-[50px] border-black hover:bg-green-500 bg-green-600 rounded-lg w-w45 hover:text-black text-gray-50 font-secondary sm:text-sm text-xs sm:p-1"
              type="submit"
              name="accept"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <script>
      // console.log(/*[[${tbiBoardWebDto}]]*/ "");
      // Set this to true for development mode, false for production
      // const DEVELOPMENT_MODE = true;

      // var currentTab = 0;
      // showTab(currentTab);

      // function showTab(n) {
      //   var x = document.getElementsByClassName("tab");
      //   // Hide all tabs
      //   for (var i = 0; i < x.length; i++) {
      //     x[i].style.display = "none";
      //   }
      //   // Show the current tab
      //   x[n].style.display = "block";

      //   document.getElementById("prevBtn").style.display =
      //     n === 0 ? "none" : "inline";
      //   document.getElementById("nextBtn").style.display =
      //     n === x.length - 1 ? "none" : "inline";
      //   fixStepIndicator(n);

      //   // Scroll to the top of the page
      //   window.scrollTo({ top: 0, behavior: "smooth" });
      // }

      // function nextPrev(n) {
      //   var x = document.getElementsByClassName("tab");
      //   x[currentTab].style.display = "none";
      //   currentTab += n;
      //   if (currentTab >= x.length) {
      //     currentTab = x.length - 1;
      //   } else if (currentTab < 0) {
      //     currentTab = 0;
      //   }
      //   showTab(currentTab);
      // }

      // function fixStepIndicator(n) {
      //   var i,
      //     x = document.getElementsByClassName("step");
      //   for (i = 0; i < x.length; i++) {
      //     x[i].className = x[i].className.replace(" active", "");
      //   }
      //   x[n].className += " active";
      // }

      let totalScore = 0;
      let totalScoreHTML = document.querySelector(".total-score");
      let allValuesProvided = false;

      document.querySelectorAll("select").forEach((select, index) => {
        let previousValue = 0;

        select.addEventListener("change", function () {
          // Define the multiplier based on the index of the select element
          let multiplier = 1.0; // Default multiplier is 1
          if (index === 2 || index === 3) {
            multiplier = 2.0; // Fourth and fifth select elements have x2 multiplier
          } else if (index === 4) {
            multiplier = 3.0; // Sixth select element has x3 multiplier
          } else if (index === 5 || index === 6 || index === 7) {
            multiplier = 1.5; // Seventh, eighth, and ninth select elements have x1.5 multiplier
          }

          // Subtract the previous value multiplied by its multiplier from the total score
          totalScore -= previousValue * multiplier;

          // Get the new selected value
          let currentValue = parseInt(this.value);

          // Add the new value multiplied by the multiplier to the total score
          totalScore += currentValue * multiplier;

          // Update the previous value to the current one
          previousValue = currentValue;

          // Check if all select elements have a value other than 'none'
          allValuesProvided = Array.from(
            document.querySelectorAll("select")
          ).every((select) => select.value !== "none");

          console.log(totalScore);

          // Only display if all values are provided
          if (allValuesProvided) {
            // Divide the total score by 1.35 and round up
            let finalScore = Math.ceil(totalScore / 1.35);

            // Display the final score
            totalScoreHTML.innerHTML = finalScore;
          } else {
            // If not all values are provided, display a message
            totalScoreHTML.innerHTML = "Please complete all selections.";
          }
        });
      });
    </script>
    <script>
      // JavaScript function to remove the flash message after a specified time
      function hideFlashMessage() {
        const flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
          setTimeout(() => {
            flashMessage.style.display = "none";
          }, 5000); // 5000 milliseconds = 5 seconds
        }
      }

      // Call the function on page load
      window.onload = hideFlashMessage;
    </script>
  </body>
</html>
