@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default style for larger screens */
input[type="file"] {
  min-width: 230px;
}

/* For tablets and smaller screens */
@media (max-width: 768px) {
  input[type="file"] {
    min-width: 110px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  input[type="file"] {
    min-width: 150px;
  }
}

/* buttons
 */
#nextBtn.disagreed {
  background-color: #cccccc;
  color: #666666;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  font-size: 40px; /* Ensure this matches your text size */
  font-weight: 300; /* Light font weight */
  /* border: 2px solid red; Border styling */
  box-sizing: border-box; /* Include border in the element's total width and height */
}
.close-button:hover {
  background-color: black; /* Example hover effect */
  color: white; /* Example hover effect */
}
/* back to login button */
.floating-back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgb(226 232 240);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.floating-back-button:hover {
  background-color: hsl(48, 99%, 65%);
}

.buttonfx {
  color: #ffffff; /* button text color */
  outline: none;
  background: transparent;
  border: none;
  border-left: 4px solid #e7ba05;
  letter-spacing: 0.0625em;
  padding: 8px 10px;
  text-transform: uppercase;
  font: bold 16px "Bebas", sans-serif; /* use google font */
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none; /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all 0.5s;
}

/* //// Default effect: Slide from Top  //// */

.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #fdcc01; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: transparent;
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: black !important;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

/* //// Slide Left  //// */

.slideleft:after {
  top: 0;
  z-index: -1;
  transform: translate3D(-101%, 0, 0);
}

.slideleft:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

.curved-background {
  background: linear-gradient(to bottom, #e7ba05, #a78a14);
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 3.49%,
    2% 4.15%,
    4% 4.9%,
    6% 5.72%,
    8% 6.61%,
    10% 7.55%,
    12% 8.55%,
    14% 9.58%,
    16% 10.64%,
    18% 11.71%,
    20% 12.8%,
    22% 13.87%,
    24% 14.93%,
    26% 15.97%,
    28% 16.97%,
    30% 17.92%,
    32% 18.81%,
    34% 19.64%,
    36% 20.4%,
    38% 21.07%,
    40% 21.65%,
    42% 22.14%,
    44% 22.53%,
    46% 22.82%,
    48% 23%,
    50% 23.08%,
    52% 23.04%,
    54% 22.9%,
    56% 22.65%,
    58% 22.29%,
    60% 21.83%,
    62% 21.28%,
    64% 20.64%,
    66% 19.91%,
    68% 19.11%,
    70% 18.24%,
    72% 17.3%,
    74% 16.32%,
    76% 15.3%,
    78% 14.24%,
    80% 13.17%,
    82% 12.09%,
    84% 11.01%,
    86% 9.94%,
    88% 8.9%,
    90% 7.89%,
    92% 6.93%,
    94% 6.02%,
    96% 5.17%,
    98% 4.4%,
    100% 3.71%
  );
}
/* This is the base animation */
.sheen:hover img::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.imageLogo:active {
  box-shadow: 0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow: inset -2px 2px 2px #ccc;
  box-shadow: inset -2px 2px 2px #ccc;
  transform: translate(0, 2px);
  color: #ffc491;
  background-color: #ede358;
}

.imageLogo:focus {
  outline: 0;
}
.bodyrowhover tr:hover {
  background-color: hsl(48, 12%, 89%);
}
.bodyrowhover {
  text-align: center;
}
.rounded-top-left {
  border-top-left-radius: 10px;
}
.rounded-top-right {
  border-top-right-radius: 10px;
}
.filter-logo {
  @apply filter invert brightness-0 contrast-100;
}
/* forms & form tabs */
/* .regForm {
  background-color: #ffffff;
  padding: 40px;
  width: 55%;
} */

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04aa6d;
}

/* modals prescreenChecklist */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal.show {
  display: block;
}
.modal-backdrop {
  display: none !important;
}
body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

/* header back */

.ad-back-button {
  position: fixed;
  top: 20px;
  left: 40px;
  background-color: hsl(48, 99%, 65%);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.ad-back-button:hover {
  background-color: rgb(226 232 240);
  color: black;
}
